.App {
   font-family: monospace;
   font-size: 1.25em;
   min-height: 100vh;
   color: #e7e7e7;
   display: flex;
   flex-flow: column;
}

body {
   background-color: #191a19
}

button {
   border-radius: 0.3em;
   background-color: #60cc4a;
   padding: 0.4em 0.7em;
   color: #191a19;
}

button:enabled:hover {
   background-color: #64d44e;
}

button:disabled {
   opacity: 0.7;
   cursor: default;
}

a {
   color: #60cc4a;
}