.timeline {
   width: 97%;
   display: flex;
   flex-direction: column;
}

.timeline .container {
   display: flex;
   flex-direction: column;
}

.timeline .add {
   display: flex;
   justify-content: space-between;
}

.timeline .left {
   flex: 3;
}

.timeline .right {
   flex: 5;
}

.timeline .add button {
   border-radius: 5em;
   padding: 0.5em;
   font-size: 1.6em;
   font-weight: normal;
   line-height: 0.5em;
   margin-right: 0.5em;
   color: #9C9C9C;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.timeline .dateNavigator {
   display: flex;
   justify-content: space-between;
}

.timeline .dateNavigator .container {
   margin-right: 3.5em;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.timeline .calender {
   border-radius: 3em;
   padding: 0.5em;
   color: #808080;
   border: 2px solid#a1a1a1;
}