.timeline {
   width: 97%;
   display: flex;
   flex-direction: column;
}

.timeline .container {
   display: flex;
   flex-direction: column;
}

.timeline .connected {
   display: flex;
   justify-content: center;
}

.timeline .left {
   flex: 3;
}

.timeline .right {
   flex: 5;
}

.timeline .add {
   border-radius: 5em;
   padding: 0.5em;
   font-size: 1.6em;
   font-weight: normal;
   line-height: 0.5em;
   color: #9C9C9C;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.timeline .add.offset {
   margin-right: 0.5em;
}

.timeline .date {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.timeline .date.offset {
   margin-right: 3.5em;
}

.timeline .calender {
   border-radius: 3em;
   padding: 0.5em;
   color: #808080;
   border: 2px solid#a1a1a1;
   transition: all 1s ease-in-out;
}

.timeline .calender:hover {
   background-color: #dad5d5;
}

.timeline .tutorial {
   padding: 1em;
   color: #007aff;
}